.system__new-message {
  padding: 4px 12px;

  background: rgba(64, 126, 201, 0.08);

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #407ec9;
}
