.App {
  display: flex;
  flex-wrap: nowrap;

  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  .chat-list {
    background: #ffffff;
    box-shadow: inset -1px 0px 0px rgba(32, 31, 30, 0.12);

    .chat-list__title {
      margin: 0;
      padding: 20px 0 20px 16px;

      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #201f1e;
    }
  }
}
